<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/nwtis_datomala_bp_1</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <context-param>
        <description>DB Configuration file</description>
        <param-name>DBconfiguration</param-name>
        <param-value>NWTiS.db.config_1.xml</param-value>
    </context-param>
    <context-param>
        <description>Configuration file</description>
        <param-name>configuration</param-name>
        <param-value>NWTiS.app.config.xml</param-value>
    </context-param>
    <filter>
        <filter-name>UserRequestFilter</filter-name>
        <filter-class>org.foi.nwtis.datomala.filter.UserRequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserRequestFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>org.foi.nwtis.datomala.web.listeners.ApplicationListener</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <env-entry>
        <env-entry-name>wb_code</env-entry-name>
        <env-entry-value>A3571208714</env-entry-value>
        <env-entry-type>java.lang.String</env-entry-type>
    </env-entry>
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>MeteoDataWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MeteoDataWS</servlet-name>
        <url-pattern>/MeteoDataWS</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>org.foi.nwtis.datomala.web.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
        <url-pattern>/Login</url-pattern>
        <url-pattern>/Logout</url-pattern>
        <url-pattern>/UserCheck</url-pattern>
        <url-pattern>/MeteoData</url-pattern>
        <url-pattern>/ServerLog</url-pattern>
        <url-pattern>/UserRequests</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>forceSSL</web-resource-name>
            <url-pattern>/MeteoData</url-pattern>
            <url-pattern>/ServerLog</url-pattern>
            <url-pattern>/UserRequests</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
        </form-login-config>
    </login-config>
</web-app>
