body {
    background-color: #dddddd;
}

.home {
    position: relative;
    float: left;
    color: black;
    padding: 2%;
}

.table {
    border: 1px solid black;
    background-color: black;
    width: 50%;
}
.header {
    background-color: #111111;
    color: white;
    font-weight: bold;
}
.even {
    background-color: lightgray;    
    text-indent: 5px;
}
.odd {
    background-color: darkgray;
    text-indent: 5px;
}
.button {
    background-color: gray;
    color: black;
    border: 1px solid darkgray;
}
.button:disabled {
    background-color: darkgray;
    color: black;
    border: 1px solid black;
}